# 1. 절대 경로
* 절대경로는 어떠한 웹페이지나 파일이 가진 고유한 경로로 최상위 디렉토리가 포함된 경로
* ex) file:///Users/user/Downloads/
* ex) C:\User\documents

# 2. 상대 경로
* 상대경로는 현재 위치한 곳을 기준으로 하는 경로
* /는 루트
* ./는 현재 위치
* ../는 현재 위치의 상위 폴더
* ../../는 두 단계 위의 상위 폴더를 의미

In [2]:
# 현재 파일 경로 확인
%pwd

'c:\\Users\\i\\Desktop\\파이썬으로 시작하는 데이터 사이언스'

In [3]:
import os
os.getcwd() #current working directory

'c:\\Users\\i\\Desktop\\파이썬으로 시작하는 데이터 사이언스'

In [5]:
import pandas as pd

In [12]:
from glob import glob

file_name = glob('data/*')[0]

In [14]:
pd.read_csv(file_name, encoding="cp949")
#UnicodeDecodeError : 인코딩에러, cp949는 한글 윈도우에서 사용되는 인코딩 방식

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

# 3. 여러 파일을 한번에 로드하는 방법

In [20]:
file_csv = glob('data/store/소상*.csv')
file_csv

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202209.csv']

In [19]:
glob('data/store/*_*_*.csv')

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202209.csv']

In [24]:
#pd.read_csv(file_csv[0])

In [26]:
file_list =[]
for file_csv_name in file_csv:
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

In [28]:
#file_list에는 여러 데이터 frame이 담겨있음
len(file_list)

17

In [30]:
#concat으로 병합
df = pd.concat(file_list)
df.shape #tuple 반환

(2446771, 39)

In [31]:
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
94167,18759758,올나노,충주점,F,생활서비스,F02,세탁/가사서비스,F02A05,청소/소독,NaN,...,4377035029104150000000001,NaN,"충청북도 음성군 삼성면 대덕로 138-38, (대정리)",369831.0,27648,NaN,NaN,NaN,127.518699,37.025560
94168,18753428,스테이퓨전바,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4311110900102270029047521,NaN,"충청북도 청주시 상당구 무심동로390번길 15, (서문동)",360130.0,28528,NaN,2,NaN,127.484757,36.634341
94169,18769189,백마탁송대리서비스,NaN,D,소매,D02,선물/팬시/기념품,D02A02,꽃집/꽃배달,G47851,...,4311311300108780000009545,NaN,"충청북도 청주시 흥덕구 풍년로198번길 56-1, (가경동)",361800.0,28389,NaN,1,NaN,127.432312,36.631408
94170,18768587,구제언니,NaN,D,소매,D05,의복의류,D05A07,셔츠/내의/속옷,NaN,...,4311311400120810000012970,NaN,"충청북도 청주시 흥덕구 풍산로118번길 27-1, (복대동)",361814.0,28605,NaN,NaN,NaN,127.443014,36.628061
94171,18762532,엠모터스,NaN,D,소매,D23,자동차/자동차용품,D23A08,중고타이어판매,G45220,...,4375033027103230005026907,NaN,"충청북도 진천군 문백면 문진로 491, (봉죽리)",365861.0,27869,NaN,NaN,NaN,127.434572,36.784046

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2446771 entries, 0 to 94171
Data columns (total 39 columns):
상가업소번호       int64
상호명          object
지점명          object
상권업종대분류코드    object
상권업종대분류명     object
상권업종중분류코드    object
상권업종중분류명     object
상권업종소분류코드    object
상권업종소분류명     object
표준산업분류코드     object
표준산업분류명      object
시도코드         int64
시도명          object
시군구코드        int64
시군구명         object
행정동코드        int64
행정동명         object
법정동코드        int64
법정동명         object
지번코드         int64
대지구분코드       int64
대지구분명        object
지번본번지        int64
지번부번지        float64
지번주소         object
도로명코드        int64
도로명          object
건물본번지        int64
건물부번지        float64
건물관리번호       object
건물명          object
도로명주소        object
구우편번호        float64
신우편번호        int64
동정보          object
층정보          object
호정보          float64
경도           float64
위도           float64
dtypes: float64(6), int64(11), object(22)
memory usage: 746.7+ MB